.containerProject{
    background: $black-color;
}
  
  /* Estilos para o card dos projetos */
.project-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    background: $blackLight-color;    
    border-radius: 30px !important;
    width: 350px;
    min-height: 390px;
}
  
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
  
.project-card-title {
    background: rgba(0, 0, 0, 0.6);
    color:$white-color;
    font-size: 1rem;
    padding: 16px;    
}
    
.project-card-description {
    font-size: 0.8rem;
    color:$white-color;
}

.tech-chip-group {
    display: flex;
    justify-content: center;
}
  
.project-image {
    cursor: pointer;
}

.project-btn {
    border-radius: 20px;
    font-weight: bold;
    background: $black-color !important;
    color: $orange-color !important;
    font-size: 0.7rem;
}

.project-modal-card {
  border-radius: 16px;
  overflow: hidden;
  background: $white-color;
  color: $black-color;
}

.modal-project-image {
  border-bottom: 1px solid $grayLight-color;
}

.modal-project-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
  color: $white-color;
}

.modal-project-description {
  font-size: 0.8rem;
  padding: 16px;
  color:$black-color;
  overflow: visible; 
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 600;
}

.modal-project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.tech-chip {
  font-size: 0.75rem;
  padding: 4px 8px;
  margin: 4px; 
  white-space: nowrap;
  background: $grayLight-color;
  color: $white-color !important;
}

.carousel-image {    
    object-fit: contain !important; 
    cursor: pointer;
}


@media (max-width: 599px) {
    .modal-project-title {
        font-size: 1rem;        
    }
}

// TABLET
@media (min-width: 600px) and (max-width: 959px) {
    .carrouselDetalls{
        height: 100vh;
    }
}