.menu-container {
    display: flex;
    justify-content: center;
  }
  
  .menu-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none; 
    background: $black-color;
    width: 100%;
  }
  
  .menu-item {
    margin: 0 12px; 
    border-radius: 24px; 
    transition: background-color 0.3s, color 0.3s; 
    padding: 16px;
    box-sizing: border-box;
  }
  
  .menu-item:hover {
    background-color:$white-color;
  }
  
  .menu-item .v-list-item-title {
    font-size: 16px;
    color: $white-color;
    font-weight: 500; 
  }
    
  
  
  .mobile-menu-item .v-list-item-title {
    color: $orange-color;
  }

  .menu-item .v-list-item-title.active {
    color: $orange-color;
    font-weight: bold;
  } 
  
  .menu-toggle{
    display: none;
  }


  // MOBILE
  @media (max-width: 599px) {
    .mobile-menu{
      background: $black-color;
      width: 100vw; 
      height: 100vh; 
      position: fixed; 
      top: 0;
      left: 0; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1000; 
    }
  
    .menu-container {
      display: none; 
    }
  
    .mobile-menu {
      display: block; 
    }
  
    .menu-toggle{
      display: inline;
      color:$orange-color;
      font-size:10px;
    }
  
    .menu-toggle .v-app-bar-nav-icon {
      font-size: 1.5rem;
      background: $grayIntense-color;
    }
  }

   // TABLET
   @media (min-width: 600px) and (max-width: 959px) {
    .mobile-menu{
      background: $black-color;
      width: 100vw; 
      height: 100vh; 
      position: fixed; 
      top: 0;
      left: 0; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1000; 
    }
  
    .menu-container {
      display: none; 
    }
  
    .mobile-menu {
      display: block; 
    }
  
    .menu-toggle{
      display: inline;
      color:$orange-color;
      font-size:10px;
    }
  
    .menu-toggle .v-app-bar-nav-icon {
      font-size: 1.5rem;
      background: $grayIntense-color;
    }
  }

 
    
    

  
 