@media (max-width: 599px) {
  .mobile-menu{
    background: #333;
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    position: fixed; /* Fixa o menu ao lado */
    top: 0; /* Começa no topo */
    left: 0; /* Alinha ao lado esquerdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  }

  .menu-container {
    display: none; 
  }

  .mobile-menu {
    display: block; 
  }

  .menu-toggle{
    display: inline;
    color:$white-color;
    font-size:30px;
  }

  .menu-toggle .v-app-bar-nav-icon {
    font-size: 2rem;
    margin-left:5%;
  }
}
  
  