.info-bar {
  background-color: $white-color;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.info-text {
  font-family: $info-text;
  color: $red-color;
  font-weight: 400;
  font-style: normal; 
  font-size: 18px;
}