.v-toolbar__content {
  display: inline;
  height: 100% !important ;
  flex-direction: column;
}

.header-bar {
  height: auto ;
  margin-top:0px;
  box-shadow: none;
  padding: 0;  
  display: flex;
  flex-direction: column;     
}


.header-row {
  height: 100px ;
  display: flex;
  align-items: center;   
  flex-wrap: wrap;
}


.logo-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0; 
}


.logo {
  max-height: 100px ;
}


.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.search-input {
  max-width: 70%; 
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.cart-icon {
  font-size: 2rem;
  color: $white-color;
}

.menu-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $black-color;
  width: 100%;
}


/* MOBILE */
@media (max-width: 599px) {
  .header-row { 
    height: auto; 
  }

  .logo-container, .cart-container {
    height: 150px !important;
    width: 100%; 
    display: flex;
    justify-content: center;
   
  }

  .logo {
    max-height: 150px;
  }

  .search-container {
    width: 100%;
    margin-bottom: 5px;
  }

  .search-input {
    max-width: 95%; 
  }

}


/* TABLET */
@media (min-width: 600px) and (max-width: 959px) {
  .header-row { 
    height: auto; 
  }

  .logo-container, .cart-container {
    height: 150px !important;
    width: 100%; 
    display: flex;
    justify-content: center;
   
  }

  .logo {
    max-height: 150px;
  }

  .search-container {
    width: 100%;
    margin-bottom: 5px;
  }

  .search-input {
    max-width: 95%; 
  }

}
