@media (min-width: 600px) and (max-width: 959px) {
  .header-row { 
    height: auto; 
  }

  .logo-container, .cart-container {
    height: 150px !important;
    width: 100%; 
    display: flex;
    justify-content: center;
   
  }

  .logo {
    max-height: 150px;
  }

  .search-container {
    width: 100%;
    margin-bottom: 5px;
  }

  .search-input {
    max-width: 95%; 
  }

}