@media (max-width: 600px) {
    .my-carousel {
      height: 30vh !important;  
      margin-top: 70px;
    }
  }
  
  .carousel-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }