  .my-carousel {
    height: 65vh !important;
  }

  .default-content{
    width: 100%;
  }

  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo preta com 30% de opacidade */
    color: $white-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1;
    border: none; /* Remover bordas, se houver */
  }

  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .carousel-nav .v-icon {
    font-size: 24px;
  }

  .carousel-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }


  @media (max-width: 599px) {
    .my-carousel {
      height: 30vh !important;
    }
  }
